# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter
.ipynb_checkpoints

# Node / Frontend
node_modules/
FRONTEND/node_modules/
FRONTEND/dist/
.DS_Store

# IDE & OS
.vscode/
.idea/
Thumbs.db
